body{
		background-image:url("adminins.jpg");
        background-size: cover;
		background-position:auto;
		font-family:sans-serif;
		margin:0;
		background-repeat:no-repeat;
		float:absolute;
		margin-left:10px;

		}
		.input-group select,button,input {
height: 50px;
  width: 80%;
    padding: 10px;
  font-size: 15pt;
  border-radius: 5px;
  border: 1px solid gray;
	display:block;
	text-align:center;
	margin:10px;
}
.input-group input{
  margin: 20px 0px 10px 0px;
 height: 30px;
  width: 80%;
    padding: 10px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
  text-align:center;
  background: rgba(0, 0, 0, 0.21);
  color:white;
  padding-right:10px;

}

.input-group {
  margin: 10px 0px 10px 0px;
 
}

		.login{
		width:320px;
		height:250px;
		background:transparent;
		color:#fff;
		top:50%;
		left:50%;
		position:absolute;
		 transform:translate(-50%,-50%);
		 box-sizing:border-box;
		 box-shadow:0 10px 20px rgba(0,0,0,0.5);
		 transition:0.5s;
		 padding:5px;
		 }
		.avatar{
		width:100px;
		height:100px;
		border-radius:50%;
		position:absolute;
		top:-50px;
		left:120px;
		}
	